<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Andrew's Folio</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FolioPage/1">
                <span class="bi bi-webpage-fill-nav-menu" aria-hidden="true"></span> Folio Application
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FolioPage/2">
                <span class="bi bi-webpage-fill-nav-menu" aria-hidden="true"></span> Transwa OTTER
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FolioPage/3">
                <span class="bi bi-webpage-fill-nav-menu" aria-hidden="true"></span> Transwa Website
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FolioPage/4">
                <span class="bi bi-webpage-fill-nav-menu" aria-hidden="true"></span> Transwa CTAS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="copyright">
              © Andrew Berry 2025
        </div>

    </nav>
</div>

