@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<div>Welcome to my development portfolio homepage.  Here you will find details of projects I have worked on as well as personal projects.</div>

